<section class="getStarted" id="getStarted">
  <div class="getStarted-container container">
    <div class="getStarted-body">
      <div class="getStarted__form-head">
        <h3 class="getStarted__form-tittle heading-h4">
          Let’s level up your brand
        </h3>
        <p class="getStarted__form-text">
          You can reach us anytime
          <a href="mailto:hellosansbrothers@gmail.com"
            >hellosansbrothers@gmail.com</a
          >
        </p>
      </div>
      <form class="getStarted-form">
        <div class="getStarted-top">
          <label class="getStarted__form-label text-p-small"
            >First name
            <input
              type="text"
              class="getStarted__input"
              name="first-name"
              placeholder="First name"
            />
          </label>
          <label class="getStarted__form-label text-p-small"
            >Last name
            <input
              type="text"
              class="getStarted__input"
              name="Last-name"
              placeholder="Last name"
            />
          </label>
        </div>
        <label class="getStarted__form-label text-p-small"
          ><span>email</span>
          <input
            type="email"
            class="getStarted__input-email"
            name="email"
            required
            placeholder="you@company.com"
          />
        </label>
        <label
          class="getStarted__form-label getStarted__form-label--email text-p-small"
          ><span>Phone number</span>
          <input
            type="tell"
            id="phone"
            class="getStarted__input-email getStarted__input-email--2"
            name="phone"
            placeholder=""
          />
        </label>
        <label
          class="getStarted__form-label getStarted__form-label--textarea text-p-small"
          ><span>Message</span>
          <textarea
            type="text"
            class="getStarted__form-input-textarea"
            name="Message"
            placeholder="Leave us a message..."
            required
          ></textarea>
        </label>
        <button class=" " type="submit" name="button">
          Get Started
        </button>
      </form>
    </div>
    <img
      loading="lazy"
      width="987"
      height="885"
      src="./assets/imgs/getStarted-img.jpg"
      alt=""
      class="getStarted-img"
    />
  </div>
</section>
