<section class="map">
  <div class="container">
    <h2 class="map-tittle heading-h1">Contact our team to find out more</h2>
    <div class="main-map" id="map" >
      <script
        type="text/javascript"
        charset="utf-8"
        async
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae1f1d8410f8c87ad3eb68d2260e35063e175b30a2454e7fbff78208733db79c3&amp;&amp;height=544&amp;lang=ru_RU&amp;scroll=true"
      ></script>
      <ul class="map-list">
        <li class="map__list-item">
          <h3 class="map__list-tittle">Support</h3>
          <p class="map__list-text">Our friendly team is here to help.</p>
          <a href="support@sans.com" class="map__List-email"
            >support@sans.com</a
          >
        </li>
        <li class="map__list-item">
          <h3 class="map__list-tittle">Sales</h3>
          <p class="map__list-text">Questions or queries? Get in touch!.</p>
          <a href="sales@sans.com" class="map__List-email"
            >sales@sans.com</a
          >
        </li>
        <li class="map__list-item">
          <h3 class="map__list-tittle">Phone</h3>
          <p class="map__list-text">Mon-Fri from 8am to 5pm.</p>
          <a href="+1 (435) 345-7655" class="map__List-email"
            >+1 (435) 345-7655</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
