<section class="prompt">
  <div class="container prompt-inner">
    <ul class="prompt-list">
      <li class="prompt-item">
        <img
          src="./assets/imgs/prompt/1.jpg"
          alt=""
          width="584"
          height="751"
          loading="lazy"
        />
        <h4 class="prompt__item-tittle heading-h3">
          How we perform long-running tasks using AWS services
        </h4>
        <p class="prompt__item-text text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </li>
      <li class="prompt-item">
        <img
          src="./assets/imgs/prompt/2.jpg"
          alt=""
          width="584"
          height="507"
          loading="lazy"
        />
        <h4
          class="prompt__item-tittle heading-h3 prompt__item-tittle--modified"
        >
          How to ask when doing User Research
        </h4>
        <p class="prompt__item-text text-p-medium prompt__item-text--modified">
          Bro, the story is that you want to make an application for buying and
          selling goods on the market. During user research, what do you think
          you will ask people?
        </p>
      </li>
      <li
        class="prompt-item"
        style="display: flex; flex-direction: column; justify-content: flex-end"
      >
        <img
          src="./assets/imgs/prompt/3.jpg"
          alt=""
          width="584"
          height="507"
          loading="lazy"
        />
        <h4
          class="prompt__item-tittle heading-h3 "
        >
          How to ask when doing User Research
        </h4>
        <p class="prompt__item-text text-p-medium prompt__item-text--modified">
          Bro, the story is that you want to make an application for buying and
          selling goods on the market. During user research, what do you think
          you will ask people?
        </p>
      </li>
      <li class="prompt-item">
        <img
          src="./assets/imgs/prompt/4.jpg"
          alt=""
          width="584"
          height="751"
          loading="lazy"
        />
        <h4 class="prompt__item-tittle heading-h3">
          How we perform long-running tasks using AWS services
        </h4>
        <p class="prompt__item-text text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </li>
    </ul>
  </div>
</section>
