<section class="quality">
  <div class="container quality-inner">
    <h1 class="quality-tittle heading-h1">Activity & Updates</h1>
    <p class="quality-subtittle heading-h5">
      <span></span>
      Our biggest challenge is making sure we're always designing and building
      products that will help you run your business better.
    </p>
    <div class="quality__body">
      <ul class="quality__tabs-buttons">
        <li class="quality__tabs-button">
          <button
            class="quality__button quality__button--active"
            data-tab="#tab1"
          >
            View all
          </button>
        </li>
        <li class="quality__tabs-button">
          <button class="quality__button" data-tab="#tab2">Design</button>
        </li>
        <li class="quality__tabs-button">
          <button class="quality__button" data-tab="#tab3">Articles</button>
        </li>
        <li class="quality__tabs-button">
          <button class="quality__button" data-tab="#tab4">Product</button>
        </li>
        <li class="quality__tabs-button">
          <button class="quality__button" data-tab="#tab5">
            Software Development
          </button>
        </li>
        <li class="quality__tabs-button">
          <button class="quality__button" data-tab="#tab6">
            Customer Success
          </button>
        </li>
      </ul>
      <ul class="quality-tabs">
        <li class="quality-tab quality-tab--active" id="tab1">
          <div class="quality-swiper swiper">
            <div class="quality__swiper-wrapper swiper-wrapper">
              <div class="quality__swiper-slide swiper-slide">
                <img
                  src="./assets/imgs/updates-2.jpg"
                  alt=""
                  loading="lazy"
                  width="515"
                  height="428"
                />
                <p class="quality__slide-data text-p-small">
                  Published in Insight Jan 30, 2021
                </p>
                <h5 class="quality__slide-tittle heading-h5">
                  Practice making User Flow
                </h5>
                <p class="quality__slide-text">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
              <div class="quality__swiper-slide swiper-slide">
                <img
                  src="./assets/imgs/updates-1.jpg"
                  alt=""
                  loading="lazy"
                  width="515"
                  height="428"
                />
                <div class="quality__slide-data-head">
                  <p class="quality__slide-data text-p-small">
                    Published in Insight Jan 30, 2021
                  </p>
                  <p class="quality__slide-data-author">by : Albert Sans</p>
                </div>
                <h5 class="quality__slide-tittle heading-h5">
                  Overview of the Design Principles
                </h5>
                <p class="quality__slide-text text--large">
                  What are Design Principles?… To understand design principles,
                  we first discuss the principles.
                </p>
              </div>
              <div class="quality__swiper-slide swiper-slide">
                <img
                  src="./assets/imgs/updates-1.jpg"
                  alt=""
                  loading="lazy"
                  width="515"
                  height="428"
                />
                <div class="quality__slide-data-head">
                  <p class="quality__slide-data text-p-small">
                    Published in Insight Jan 30, 2021
                  </p>
                  <p class="quality__slide-data-author">by : Albert Sans</p>
                </div>
                <h5 class="quality__slide-tittle heading-h5">
                  Overview of the Design Principles
                </h5>
                <p class="quality__slide-text text--large">
                  What are Design Principles?… To understand design principles,
                  we first discuss the principles.
                </p>
              </div>
              <div class="quality__swiper-slide swiper-slide">
                <img
                  src="./assets/imgs/updates-1.jpg"
                  alt=""
                  loading="lazy"
                  width="515"
                  height="428"
                />
                <div class="quality__slide-data-head">
                  <p class="quality__slide-data text-p-small">
                    Published in Insight Jan 30, 2021
                  </p>
                  <p class="quality__slide-data-author">by : Albert Sans</p>
                </div>
                <h5 class="quality__slide-tittle heading-h5">
                  Overview of the Design Principles
                </h5>
                <p class="quality__slide-text text--large">
                  What are Design Principles?… To understand design principles,
                  we first discuss the principles.
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
