:root{
    --neutral-10:#FFFFFF;
    --neutral-20:#F5F5F5;
    --neutral-30:#EDEDED;
    --neutral-60:#18181D;
    --neutral-100:#1D1E25;



    //container
    --container-padding: 15px;
    --container-width: 1200px;

}