
.beliews-tittle {
  max-width: 959px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: var(--neutral-100);

  margin-bottom: 118px;

  @include tablet {
    font-size: 56px;
    margin-bottom: 60px;
  }
  @include mobile {
    font-size: 46px;
  }
  @include mobile-small {
    font-size: 40px;
  }
}
.beliews__content-text {
  position: relative;

  max-width: 738px;

  font-weight: 600;
  font-size: 32px;
  line-height: 131%;
  letter-spacing: -0.03em;
  color: var(--neutral-100);
  margin-left: 88px;

  &::before {
    content: "";
    position: absolute;
    left: -88px;
    top: 20px;

    display: inline-block;

    background-color: var(--neutral-100);
    width: 76px;
    height: 1px;
  }
  @include mini-desktop {
    margin-left: 0;
    &::before {
      content: none;
    }
  }
  @include tablet {
    font-size: 24px;
  }
  @include mobile {
    font-size: 18px;
  }
}

.beliews-content {
  @include flex-between;
  align-items: center;
  margin-bottom: 135px;
  @include tablet {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-bottom: 75px;
  }
  @include mobile {
    margin-bottom: 40px;
  }
}
.beliews__content-img {
  svg {
    path {
      fill: var(--primary-80);
    }
    circle {
      fill: var(--primary-80);
    }
    rect {
      fill: var(--primary-80);
    }
    @include tablet {
      width: 140px;
      height: 140px;
    }
    @include mobile {
      width: 120px;
      height: 120px;
    }
  }
}
/*--------------------*/

.beliews-body {
  position: relative;
  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 300px;
    left: -130px;
    z-index: var(--z-index--1);
    width: 551px;
    height: 551px;
    border-radius: 50%;
    opacity: 0.2;
    background: #fa7515;
    filter: blur(220px);
  }
  padding-bottom: 160px;
  @include tablet {
    padding-bottom: 120px;
  }
  @include mobile {
    padding-bottom: 80px;
  }
  @include mobile-small {
    padding-bottom: 50px;
  }
}

.beliews__slide-list {
  display: grid;
  grid-template-columns: 1fr 1fr 0.6fr;
  gap: 32px;
  @include tablet {
    grid-template-columns: 0.6fr 1fr;
    gap: 16px;
  }
  @include small-tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    .beliews__slide-item-img--1 {
      height: 400px;
    }
    .beliews__slide-item-box {
      text-align: center;
    }
    .beliews__slide-btn-box {
      @include jusctify-flex;
    }
    .beliews__slide-item:first-child {
      display: none;
    }
  }
}
.swiper-slide.beliews__slide {
  @include small-tablet {
    display: flex;
    justify-content: center;
  }
}

.beliews__slide-item-box {
  max-width: 484px;
}
.beliews__slide-item-img {
  @include tablet {
    &--3 {
      display: none;
    }
  }
  @include mobile {
    .beliews__slide-item-img--2 {
      width: 20vw;
    }
  }
}
.beliews__slide-item-img--1 {
  height: 620px;
}
.beliews__slide-tittle {
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--neutral-100);
  margin: 24px 0 8px 0;
  @include mobile {
    margin: 12px 0 4px 0;
    font-size: 24px;
  }
}
.beliews__slide-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 158%;
  color: var(--neutral-150);
  @include mobile-small {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
  }
}
.beliews__slide-btn {
  @include flex-center;
  margin-top: 32px;
  @include button($bc-color: var(--neutral-100));
  /*------*/
  @include mobile {
    width: 100%;
    margin-top: 16px;
    padding: 10px 26px;
  }
}
.beliews__content-texts {
  @include flex-between;
  align-items: center;
  padding: 80px 0;
  border-top: 1px solid var(--neutral-100);
  border-bottom:1px solid var(--neutral-100) ;
  @include tablet {
    flex-direction: column;
    gap: 24px;
  }
  @include mobile {
    padding: 50px 0;
  }
}
.beliews__content-texts-tittle {
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: var(--neutral-100);
  max-width: 480px;
  margin-right: 10px;
  @include tablet {
    font-size: 46px;
    max-width: none;
    text-align: center;
  }
  @include mobile {
    font-size: 32px;
  }
}

.beliews__content-texts-subtittle {
  font-weight: 600;
  line-height: 150%;
  color: var(--neutral-100);
  max-width: 522px;
  @include tablet {
    max-width: none;
    text-align: center;
    margin-right: 0;
  }
  @include mobile {
    font-size: 18px;
    line-height: 130%;
  }
}
.beliews__pagintion-box {
  margin-top: 100px;
}
.swiper-pagination.beliews-pagination {
  color: var(--neutral-100);
}
