<section class="companies">
  <div class="container companies-inner">
    <div class="companies-texts">
      <h3 class="companies-tittle heading-h2">890+</h3>
      <p class="companies-p">
        some big companies that we work with, and trust us very much
      </p>
    </div>
    <ul class="companies-list">
      <li class="companies-item">
        <img src="../../../assets/imgs/companies/Airbnb.svg" alt="" />
      </li>
      <li class="companies-item">
        <img src="../../../assets/imgs/companies/Amazon.svg" alt="" />
      </li>
      <li class="companies-item">
        <img src="../../../assets/imgs/companies/FedEx.svg" alt="" />
      </li>
      <li class="companies-item">
        <img src="../../../assets/imgs/companies/Microsoft.svg" alt="" />
      </li>
      <li class="companies-item">
        <img src="../../../assets/imgs/companies/Google.svg" alt="" />
      </li>
      <li class="companies-item">
        <img src="../../../assets/imgs/companies/ola.svg" alt="" />
      </li>
      <li class="companies-item">
        <img src="../../../assets/imgs/companies/Walmart.svg" alt="" />
      </li>
      <li class="companies-item">
        <img src="../../../assets/imgs/companies/oyo.svg" alt="" />
      </li>
    </ul>
    <div class="swiper companies-slider">
   
      <div class="swiper-wrapper companies__slider-wrapper">
        <div class="swiper-slide companies__slide">
          <img src="../../../assets/imgs/companies/Airbnb.svg" alt="" />
        </div>
        <div class="swiper-slide companies__slide">
          <img src="../../../assets/imgs/companies/Amazon.svg" alt="" />
        </div>
        <div class="swiper-slide companies__slide">
          <img src="../../../assets/imgs/companies/FedEx.svg" alt="" />
        </div>
        <div class="swiper-slide companies__slide">
          <img src="../../../assets/imgs/companies/Microsoft.svg" alt="" />
        </div>
        <div class="swiper-slide companies__slide">
          <img src="../../../assets/imgs/companies/Google.svg" alt="" />
        </div>
        <div class="swiper-slide companies__slide">
          <img src="../../../assets/imgs/companies/ola.svg" alt="" />
        </div>
        <div class="swiper-slide companies__slide">
          <img src="../../../assets/imgs/companies/Walmart.svg" alt="" />
        </div>
        <div class="swiper-slide companies__slide">
          <img src="../../../assets/imgs/companies/oyo.svg" alt="" />
        </div>
      </div>
      <div class="companies__pagination-box">
        <div class="swiper-pagination companies-pagination"></div>
      </div>
    </div>
  </div>
</section>
