<section class="hero">
  <div class="container hero-inner">
    <div class="hero-left">
      <h2 class="hero-tittle">Digitally forward creative</h2>
      <p class="hero-subtittle text-p-subtittle">
        When it comes to interactive marketing, we've got you covered. Be where
        the world is going
      </p>
      <form class="hero-form">
        <input type="email" class="hero-input" placeholder="Enter your email" />
        <button class="hero-btn" type="submit">Try for free</button>
      </form>
    </div>
    <div class="hero-right">
      <div class="hero-graphs">
        <div class="hero__main-graph">
          <h3 class="hero__main-p">Sales Report</h3>
          <img src="./assets/imgs/main-graph.png" alt="" />
        </div>
        <div class="hero__mini-graph">
          <h3 class="hero__main-p">Customer Growth</h3>
          <img src="./assets/imgs/mini-graph.png" alt="" />
        </div>
        <div class="hero-statistic">
          <div class="hero-col">
            <div class="hero__col-sales">Sales</div>
            <p class="hero__col-score">$31,092</p>
            <p class="hero__col-stat">
              <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1_2630)">
                <path d="M2.79926 5.99536L6.55029 2.2464L10.2993 5.99743" stroke="#60D39C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.54781 11.2463L6.55029 2.24634" stroke="#60D39C" stroke-width="2" stroke-linecap="round"/>
                </g>
                <defs>
                <clipPath id="clip0_1_2630">
                <rect width="12" height="12" fill="white" transform="translate(0.550781 0.744629) rotate(0.0158183)"/>
                </clipPath>
                </defs>
                </svg>
                
              <span> 4.2% </span>
              from last year
            </p>
          </div>
          <div class="hero-col">
            <div class="hero__col-sales">Marketing</div>
            <p class="hero__col-score">$29,128</p>
            <p class="hero__col-stat color-red">
              <svg width="11" height="12" viewBox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.83811 6.52843L5.55922 10.3071L9.33788 6.58599" stroke="#E35454" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.6284 1.30739L5.55933 10.3071" stroke="#E35454" stroke-width="2" stroke-linecap="round"/>
                </svg>
                
              <span> 1.2% </span>
              from last year
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
