<section class="news">
  <div class="container news-inner">
    <h2 class="news-tittle heading-h2">Trending news from Coca</h2>
    <p class="news__tittle-text text-p-medium">
      we have some new Service to pamper you
    </p>
    <div class="swiper news-slider">
        <div class="news__slider-btns">
            <svg
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M25.0001 13.3334L31.6667 20L25.0001 26.6667M15.0001 26.6667L8.33341 20L15.0001 13.3334"
                stroke="#7E8492"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
        </div>
      <div class="news-pagination-box">  
        <div class="swiper-pagination news-pagination"></div>
    </div >
      <div class="swiper-wrapper news__slider-wrapper">  
        <div class="swiper-slide news__slide">
          <img
            loading="lazy"
            class="news__slide-img"
            src="./assets/imgs/slide-img-1.jpg"
            alt="woman is writting something on the notebook"
            width="582"
            height="332"
          />
          <div class="news__slide-head">
            <p class="news__slide-text-time text-p-small">
              Published in Insight
              <time datetime="2024-01-30">jan 30 , 2024</time>
            </p>
            <address class="news__slide-text-author text-p-small">
              by : Albert Sans
            </address>
          </div>
          <h3 class="news__slide-tittle heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </div>
        <div class="swiper-slide news__slide">
          <img
            loading="lazy"
            class="news__slide-img"
            src="./assets/imgs/slide-img-2.jpg"
            alt="man is writting something on the notebook"
            width="582"
            height="332"
          />
          <div class="news__slide-head">
            <p class="news__slide-text-time text-p-small">
              Published in Insight
              <time datetime="2024-01-30">jan 30 , 2024</time>
            </p>
            <address class="news__slide-text-author text-p-small">
              by : Albert Sans
            </address>
          </div>
          <h3 class="news__slide-tittle heading-h5">
            How to build a Kaylen relationship with a good company
          </h3>
        </div>
        <div class="swiper-slide news__slide">
          <img
            loading="lazy"
            class="news__slide-img"
            src="./assets/imgs/slide-img-1.jpg"
            alt="woman is writting something on the notebook"
            width="582"
            height="332"
          />
          <div class="news__slide-head">
            <p class="news__slide-text-time text-p-small">
              Published in Insight
              <time datetime="2024-01-30">jan 30 , 2024</time>
            </p>
            <address class="news__slide-text-author text-p-small">
              by : Albert Sans
            </address>
          </div>
          <h3 class="news__slide-tittle heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </div>
        <div class="swiper-slide news__slide">
          <img
            loading="lazy"
            class="news__slide-img"
            src="./assets/imgs/slide-img-2.jpg"
            alt="man is writting something on the notebook"
            width="582"
            height="332"
          />
          <div class="news__slide-head">
            <p class="news__slide-text-time text-p-small">
              Published in Insight
              <time datetime="2024-01-30">jan 30 , 2024</time>
            </p>
            <address class="news__slide-text-author text-p-small">
              by : Albert Sans
            </address>
          </div>
          <h3 class="news__slide-tittle heading-h5">
            How to build a Kaylen relationship with a good company
          </h3>
        </div>   
    </div>
    <!-- <div class="swiper-scrollbar news-scrollbar "></div> -->
 
  
  </div>
</section>
