<section class="overview">
  <div class="container overview-inner">
    <div class="overview-content">
      <h1 class="overview-tittle">
        Coca help our client solve complex customer problems with date that does
        more.
      </h1>
      <p class="overview-text">
        Our platform offers the modern enterprise full control of how date can
        be access and used with industry leading software solutions for
        identity, activation, and date collaboration
      </p>
    </div>
    <ul class="overview-list">
      <li class="overview-item">
        <img src="./assets/imgs/icons/1.svg" alt="" />
        <h3 class="overview-heading heading">Measure more effective</h3>
        <p class="overview__item-text">
          Build access to date, develop valuable business insights and drive
          revenue while maintaining full control over access and use of date at
          all times.
        </p>
      </li>
      <li class="overview-item">
        <img src="./assets/imgs/icons/2.svg" alt="" />
        <h3 class="overview-heading heading">Activate your date</h3>
        <p class="overview__item-text">
          Effectively measure people-based campaigns with the freedom to choose
          from best-of breed partners to optimize and drive media innovation.
        </p>
      </li>
      <li class="overview-item">
        <img src="./assets/imgs/icons/3.svg" alt="" />
        <h3 class="overview-heading heading">Strengthen consumer privacy</h3>
        <p class="overview__item-text">
          Accurately address your specific audiences at scale across any
          channel, platform, publisher or network and safely translate date
          between identity space to improve results.
        </p>
      </li>
      <li class="overview-item">
        <img src="./assets/imgs/icons/4.svg" alt="" />
        <h3 class="overview-heading heading">Build your date fundamental</h3>
        <p class="overview__item-text">
          Protect your customer date with leading privacy-preserving
          technologies and advanced techniques to minimize date movement while
          still enabling insight generation.
        </p>
      </li>
    </ul>
  </div>
</section>
