<section class="passion">
  <div class="container passion-inner">
    <div class="passion-left">
      <div class="passion__left-img">
        <img
          loading="lazy"
          src="../../../assets/imgs/Passion-section/img.png"
          alt=""
        />
      </div>
      <div class="passion-Statictic">
        <div class="passion-subtittle">
          <h3>Statictic</h3>
          <img
            loading="lazy"
            src="../../../assets/imgs/Passion-section/more.svg"
            alt=""
          />
        </div>
        <div class="passion-total">
          <div class="passion__total-item">
            <img
              loading="lazy"
              src="../../../assets/imgs/Passion-section/graph-1.svg"
              alt=""
            />
            <div class="passion__total-texts">
              <h4 class="passion__total-h">Total Income</h4>
              <p class="passion__total-text">
                $7.020
                <span>
                  <img
                    src="../../../assets/imgs/Passion-section/green-icon.svg"
                    alt=""
                  />
                  15%
                </span>
              </p>
              <p class="passion__total-discription">
                Your <span>Income</span> of this month compared to last month
              </p>
            </div>
          </div>
          <span class="hr"></span>
          <div class="passion__total-item">
            <img
              loading="lazy"
              src="../../../assets/imgs/Passion-section/graph-2.svg"
              alt=""
            />
            <div class="passion__total-texts">
              <h4 class="passion__total-h">Total Expense</h4>
              <p class="passion__total-text">
                $7.020
                <span>
                  <img
                    loading="lazy"
                    src="../../../assets/imgs/Passion-section/red-icon.svg"
                    alt=""
                  />
                </span>
              </p>
              <p class="passion__total-discription">
                Your <span>Expanse</span> of this month compared to last month
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="passion-right">
      <h2 class="passion-tittle heading-h2">
        Passion to increase company revenue up to 85%
      </h2>
      <p class="passion-p">
        Automate your sales, marketing and service in one platform. Avoid date
        leaks and enable consistent messaging
      </p>
      <ul class="passion-list">
        <li class="passion__list-item">
          <img
            src="../../../assets/imgs/Passion-section/accept-icon.svg"
            alt=""
          />
          <p class="passion__list-text">
            Close more deals with single - page contact managment
          </p>
        </li>
        <li class="passion__list-item">
          <img
            src="../../../assets/imgs/Passion-section/accept-icon.svg"
            alt=""
          />
          <p class="passion__list-text">
            Enjoy one-click calling, call scripts and voicemail automation
          </p>
        </li>
        <li class="passion__list-item">
          <img
            src="../../../assets/imgs/Passion-section/accept-icon.svg"
            alt=""
          />
          <p class="passion__list-text">
            Take stages and milestones of your deals to keep the sales process
            an track
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
