<section class="strength">
  <div class="container strength-inner">
    <ul class="strength-list">
      <li class="strength__list-item">
        <p class="strength__list-number">17k</p>
        <p class="strength__list-text">happy customers on worldwide</p>
      </li>
      <span></span>
      <li class="strength__list-item">
        <p class="strength__list-number">15+</p>
        <p class="strength__list-text">Hours of work experience</p>
      </li>
      <span></span>
      <li class="strength__list-item">
        <p class="strength__list-number">50+</p>
        <p class="strength__list-text">Creativity & passionate members</p>
      </li>
      <span></span>
      <li class="strength__list-item">
        <p class="strength__list-number">100+</p>
        <p class="strength__list-text">Integrations lorem ipsum integrations</p>
      </li>
    </ul>
    <img src="../../../assets/imgs/strength-img.jpg" alt="" class="strength-img" />
    <div class="strength-texts">
      <h2 class="strength-tittle heading-h2">
        Lift your business to new heights with our digit al marketing services
      </h2>
      <p class="strength-text text-medium">
        To build software that gives customer facing teams in small and
        medium-sized businesses the ability to create rewarding and long-lasting
        relationships with customers
      </p>
    </div>
  </div>
</section>
