@import "./mixins";
@import "./base";
@import "./globals";


//components
@import "./components/header.scss";
@import "./components/about/beliews.scss";
@import "./components/about/creators.scss";
@import "./components/footer.scss"; 

[data-theme="dark"] {
    background-color: var(--neutral-60);
    --neutral-10:#18181D;
    --neutral-50: #d9d9d9;
    --neutral-100: #d9d9d9;
    --neutral-140: #fff;   
    --logo-color-text:#fff;
    --logo-color-circle:#343542;
    --primary-60:#e2f8f033;
    --progress-bar:#ffffff57;
    --primary-80:#d9d9d9;
    --neutral-180:#fff;
     .creators-button{
      & svg {
        path {
          fill: #fff;
        }
      }
      &:hover {
        background:  #fff;
        & svg {
          path {
            fill: #1d1e25;
          }
        }
      }
     }
  }
  